/*!
 *  Grey: #abb2b1;
 *  Red:  #dc706b;
 *  Blue: #afcce7;
 *  Green:#a5cab3 ;
 */
html, body { height: 100% }

body { position: relative; font-size: 0.8em; }

/* Common things */
.pure-button.error {
  background-color: #dc706b;
}

header {
  background-color: #ffffff;
  width: 100%;
  border-bottom: 2px solid #9099c9;
}
header .logo {
  height: 48px;
  width: auto;
  margin: 5px 0 0 5px;
}

header .buttons {
  float: right;
  font-size: 2em;
}
header .pure-button {
  float: right;
  border-radius: 0px;
}

.reload { }
.reload.active { }
.reload.inactive { }

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main {
  position: absolute;
  top: 58px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.column {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  border-right: 2px solid #abb2b1;
  height: 100%;
  overflow-y: scroll;
}
.column h3 {
  line-height: 30px;
  width: 25%;
  text-align: center;
  margin: 0;
  background-color: #afcce7;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #9099c9;
}
.column .content {
  margin-top: 30px;
  position: relative;
  padding: 5px;
}
.column.finished h3 {
  background-color: #a5cab3;
}

.uncategorized-issues { }

.unconfirmed-issues { }

.unclaimed-issues { }

.incomplete-issues { border-right: none; }

.issue {
  border: 1px solid #aab1b1;
  position: relative;
  min-height: 30px;
  margin-bottom: 10px;
}
.issue .issue-number {
  padding: 4px;
  background-color: #abb2b1;
  color: #fff;
  display: block;
}
.issue.needs-response .issue-number {
  background-color: #dc706b;
}
.issue.needs-response {
  border-color: #dc706b;
}
.issue a {
  padding: 5px;
  display: block;
}
