/*!
Pink:   #c064c2
Orange: #c8976a
Green:  #74ce71
Blue:   #78a9d4
Light Blue: #78a9d4
 */

body {
  background-color: #cccccc;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
}
header h3 { float: left; }
header .loading {
  float: right;
  line-height: 60px;
  font-size: 1.2em;
}

a {
  color: #000;
}

.issue {
  padding: 10px;
  border-bottom: 1px solid #000;
  position: relative;
  min-height: 30px;
}

.issue .issue-number {
  float: right;
  margin-left: 10px;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

.issue.needs-response .issue-number {
  background-color: #FA4B62;
}

.uncategorized-issues {
  background-color: #c064c2;
}

.unconfirmed-issues {
  background-color: #c8976a;
}

.unclaimed-issues {
  background-color: #74ce71;
}

.incomplete-issues {
  background-color: #78a9d4;
}
